:root {
    --light: #EEECE6;
    --light-brown: #C5956A;
    --dark-brown: #352111;
    --light-blue: #DEEBE7;
    --brown: #6C4124;
}

header {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--brown);
    color: var(--light-blue);
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin-top: auto;
}

nav {
    display:block;
    justify-content: right;
    padding-right: 4px;
}

nav>li {
    display:flex;
    justify-content: space-between;
    text-align: right;
    margin-top: auto;
    padding-left: 10px;
}

#profile {
    margin: 10px;
    border: 6px solid var(--brown);
    width: auto;
}

#profile img {
    margin-bottom: 10px;
    justify-content: left;
}

div {
    position: relative;
    justify-content: end;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    color: var(--light-brown);
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    border: 6px solid var(--brown);
    margin: 10px;
}

.cards img {
    margin: 10px;
    width: 25%;
    height: 200px;
    border: 6px solid var(--brown);
}

footer {
    width: 100%;
    background-color: var(--brown);
    color: var(--light-blue);
}
