:root {
  --black: #001011;
  --darkGreen: #588958;
  --lightGreen: #BEFFC7;
  --darkGray: #554E4E;
  --lightGray: #CDCBCB;
  --brightBlue: 
}
.btn {
  background-color: var(--darkGreen);
  object-fit: contain;
  max-width: 145px;
}
.btn:hover{
  border: 2px solid var(--lightGreen);
}
#me{
  max-height: 33vh; 
  max-width: 33vw;
  page-break-after: always;
}
#movePlease{
  margin-bottom: 156px;
}
.dropdown-item:hover{
  background-color: var(--black);
  color: var(--lightGray)
}
.cardImage{
  width: 100%;
  object-fit: contain;
}
.card{
  /* /* max-width: 40vw;
  min-width: 40vw;
  max-height: 75vh; */
  min-height: 96vh; 
  object-fit: cover;
}
.card-text{
  object-fit: contain;
  width: 100%;
}