:root {
    --light: #EEECE6;
    --light-brown: #C5956A;
    --dark-brown: #352111;
    --light-blue: #DEEBE7;
    --brown: #6C4124;
}

header {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--brown);
    color: var(--light-blue);
}

h1 {
    font-size: 450%;
    font-weight: bold;
    text-align: left;
    margin-top: auto;
    position: relative;
    top: 3vh;
}

nav {
    display:block;
    justify-content: right;
    padding-right: 4px;
    font-size: 125%;
}

nav>ul{
    display: flex;
    float:right;
    flex-wrap: wrap;
}

ul>li {
    display:flex;
    justify-content: space-between;
    float: right;
    margin-top: auto;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 125%;
}

#profile {
    margin-bottom: 10px;
    border: 6px solid var(--brown);
    width: auto;
}

#profile img {
    float: left;
    justify-content: left;
    position: relative;
}

.profile {
    position: relative;
    justify-content: end;
}

div>h2 {
    position: relative;
    left: 50vh;
    font-size: 200%;
    font-weight:bold;
}

div>p {
    position: relative;
    font-size: 110%;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    color: var(--light-brown);
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    border: 6px solid var(--brown);
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    color:white;
}

.cards img {
    margin: 10px;
    width: 30%;
    height: 200px;
    border: 6px solid var(--brown);
}

.bottom-right-link {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.placeholder {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    background-color: var(--brown);
    color: var(--light-blue);
}

footer>* {
display: inline;
justify-content: space-between;
float: initial;
margin: auto;
font-size: 110%;
}

footer>h3 {
    font-size: 175%;
}

footer>p {
    font-size: 110%;
}