:root {
  --black: #001011;
  --darkGreen: #588958;
  --lightGreen: #BEFFC7;
  --darkGray: #554E4E;
  --lightGray: #CDCBCB;
}
.btn {
  background-color: var(--darkGreen);
  object-fit: contain;
  max-width: 145px;
}
.btn:hover{
  border: 3px solid var(--lightGreen);
  background-color: var(--darkGray);
}
#me{
  max-height: 33vh; 
  max-width: 33vw;
  page-break-after: always;
}
#movePlease{
  margin-bottom: 156px;
}
.dropdown-item:hover{
  background-color: var(--black);
  color: var(--lightGray)
}
.cardImage{
  width: 100%;
  object-fit: contain;
}
.card{
  min-height: 96vh; 
  object-fit: cover;
}
.card-text{
  object-fit: contain;
  width: 100%;
}
.footer{
  height: 8vh;
}
#copied {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  width:175px;
  height: auto;
  background-color: var(--black);
  color:var(--lightGreen);
  border: 3px solid var(--darkGreen);
  justify-content: center;
  z-index:1;
  border-radius: 6px;
  bottom: 25%;
  left: 63%;
}
