:root {
    --light: #EEECE6;
    --light-brown: #C5956A;
    --dark-brown: #352111;
    --light-blue: #DEEBE7;
    --brown: #6C4124;
}

header {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--brown);
    color: var(--light-blue);
}

h1 {
    font-size: 9vh;
    font-weight: bold;
    text-align: left;
    margin-top: auto;
    position: relative;
    top: 3vh;
    width: 25%;
}

nav {
    display:block;
    justify-content: right;
    padding-right: 4px;
    font-size: 4vh;
    list-style-type: none;
}

nav>ul{
    display: flex;
    float:right;
    flex-wrap: wrap;
}

ul>li {
    /* display:flex;
    justify-content: space-between; */
    float: right;
    margin-top: auto;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 4vh;
}

ul>li>a {
    color:var(--light-blue);
    text-decoration: none;
}

#profile {
    margin-bottom: 10px;
    border: 6px solid var(--brown);
    width: auto;
}

#profile img {
    float: left;
    justify-content: left;
    position: relative;
}

#aboutme {
    position: absolute;
    left: 50vh;
    font-size: 4.5vh;
    font-weight: bold;
    margin-top: -5vh;
}

.profile {
    position: relative;
    justify-content: end;
}

div>p {
    position: relative;
    font-size: 3vh;
    text-align: center;
    margin-top: 5vh;
}

body {
    background-color: var(--light);
    color: var(--light-brown);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    border: 6px solid var(--brown);
    margin-bottom: 10px;
    position: relative;
}

.cards a {
    height: 100%;
    width: 30%;
    justify-content: center;
}

.cards img {
    margin: 10px;
    width: 93%;
    height: 200px;
    border: 6px solid var(--brown);
    justify-content: center;
}

/* .bottom-right-link {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: red;
}

.placeholder {
    position: absolute;
    bottom: 8px;
    right: 16px;
}  */

footer {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    background-color: var(--brown);
    color: var(--light-blue);
}

footer>* {
display: inline;
justify-content: space-between;
float: initial;
margin: auto;
font-size: 3vh;
}

footer>ul>li {
    margin-top: auto;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 4vh;
    color: var(--light-blue);
    float: left;
    list-style-type: none;
}

#h3 {
    font-size: 4.5vh;
}

footer>p {
    font-size: 3vh;
}

/* @media only screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
        justify-content: center;
        display:block;
    }
    .cards img {
        max-width: 100vh;
    }
    .cards a {
        max-width: 100vh;
    }
} */

@media only screen and (max-width: 700px) {
    .cards {
        flex-direction: column;
        justify-content: center;
        display:block;
    }

    .cards img {
        max-width: 100vh;
    }

    .cards a {
        max-width: 100vh;
    }

    ul {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }
}